/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.basic-container {
    padding: 5%;
  }
.btn{
    padding: 2%;
}
.textAlign{
    text-align: center
}
.blue-snackbar {
    background: #3f51b5;
  }