<div>
  <mat-card>
      
    <table>
      <th *ngFor="let column of columns" align="left">
        {{column}}
      </th>
      <tr *ngFor="let row of dataSet; let i = index;">
        <!-- {{row|json}}{{i}} -->
        <td *ngFor="let column of columns">
          <mat-form-field floatLabel="never">
            <input matInput [readonly]="!isSelectedCell(i+column)" [attr.value]="row[column] ? row[column] : null "
              (dblclick)=onDoubleClick(i+column) (change)="onChange($event,i,column)"
              matTooltip="Please double click to edit"
              >
          </mat-form-field>
        </td>
        <td>
          <button mat-icon-button color="warn" (click)="deleteRow(i)">
            <mat-icon>clear</mat-icon>
          </button>
        </td>
      </tr>

    </table>
    <mat-divider></mat-divider>
    <div class="btn">
      <button mat-raised-button color="primary" [disabled]="valueChanged" (click)="save()">Save</button>
      <button mat-icon-button color="primary" (click)="addRow()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-spinner mode="indeterminate" *ngIf="!resposeState"></mat-spinner>
  </mat-card>
</div>