<mat-toolbar color="primary">
    <mat-toolbar-row>

        <h1>DataTable</h1>
    </mat-toolbar-row>
</mat-toolbar>
<div class="mat-app-background basic-container">
        <app-table></app-table>
</div>
